# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
*.egg-info/
dist/
build/

# Données & secrets
data/*.db
.env
*.env
secrets/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Prefect
.prefect/
